div.card.p-3.RandomPerksList {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
div.card.p-3.RandomSurivorNameAndImage {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.mb-4 {
    text-align: center;
}


